.list {
	color: #fff;

	&__cards {
		margin: 0 auto;
		// max-width: 1000px;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		grid-gap: 1rem;

		a {
			display: block;
			height: 500px;
		}
	}
}
