* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-image: url(./assets//backgrounds/bg1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	color: white;
	font-family: Helvetica;
	height: 100vh;
	width: 100vw;
}

.app {
	/* height: 100%; */
	position: relative;
}
