* {
	margin: 0;
	padding: 0;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	--cell-size: 120px;
	--mark-size: calc(var(--cell-size) * 0.9);
	--cell-bgc: pink;
}

html {
	font-family: Helvetica, sans-serif;
}

body {
	margin: 0 auto;
	height: 100vh;
}

.wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.board {
	border: 1px solid gray;
	border-radius: 6px;
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-gap: 1rem;
	padding: 0.875rem;
	margin-bottom: 1rem;
}

/*  */

.cell {
	background: var(--cell-bgc);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	border-radius: 6px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	width: var(--cell-size);
	height: var(--cell-size);
	position: relative;
	transition: 0.3s ease;
}

/* .cell:hover {
	background: #e6a7b2;
} */

.cell.x,
.cell.circle {
	cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.circle::after,
.cell.circle::before {
	background-color: #000;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
	background-color: #aaa;
}

/* the x cell */
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
	content: "";
	width: calc(var(--mark-size) * 0.15);
	height: var(--mark-size);
	position: absolute;
}

.cell.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
	transform: rotate(45deg);
}

.cell.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
	transform: rotate(-45deg);
}

/* the circle cell */

.cell.circle::after,
.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
	content: "";
	position: absolute;
	border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
	width: var(--mark-size);
	height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
	width: calc(var(--mark-size) * 0.7);
	height: calc(var(--mark-size) * 0.7);
	background-color: var(--cell-bgc);
}

/* Winning message */
.winning-message {
	display: none;
	color: #fff;
	font-size: 5rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);

	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* button */
.btn {
	border: none;
	border-radius: 10px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	cursor: pointer;
	padding: 0.4em 0.7em;
	font-size: 2.5rem;
	font-weight: bold;
	text-transform: uppercase;
}

.btn__reset {
	background: #cc8d98;
	color: #fff;
	margin-top: 1rem;
	transition: 0.3s all linear;
}

.btn__reset:hover {
	background: #e6a7b2;
	color: rgb(39, 24, 24);
}

.winning-message.show {
	display: flex;
}
