* {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
}

body {
	margin: 0;
}

#map {
	width: 90%;
	height: 20rem;
	border: 1px solid #ccc;
	margin: 2rem auto;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

form {
	text-align: center;
	margin: 2rem auto;
}

button {
	font: inherit;
	background: #ff0062;
	border: 1px solid #ff0062;
	cursor: pointer;
	color: white;
	padding: 0.75rem 1rem;
}

input {
	height: 2.875rem;
	width: 20rem;
}

button:focus {
	outline: none;
}

button:hover,
button:active {
	background: #a80041;
	border-color: #a80041;
}
