* {
	margin: 0;
	padding: 0;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	--color-pink: #e52e71;
	--color-orange: #ff8a00;
	--clock-color: -webkit-linear-gradient(
		162deg,
		var(--color-pink) 21%,
		var(--color-orange) 86%
	);
}

html {
	background-color: #0d0d0d;
	font-family: Helvetica, sans-serif;
	text-align: center;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex: 1;
	font-size: 2rem;
	min-height: 100vh;
}

span {
	display: inline-block;
	background: var(--clock-color);
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	font-weight: bold;
}

.clock {
	width: 30rem;
	height: 30rem;
	border: 3px solid rgb(233, 211, 179);
	border-radius: 50%;
	margin: 50px auto;
	padding: 2rem;
	display: none;
	justify-content: center;
	align-items: center;
	position: relative;
}

.clock::before {
	content: "";
	position: absolute;
	width: 15px;
	height: 15px;
	/* background: #2196f3; */
	background: var(--color-pink);
	border-radius: 50%;
	z-index: 10000;
}

.hand {
	position: absolute;
	transition: all 0.05s;
	transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hand__hour,
.hr {
	width: 200px;
	height: 200px;
}

.hand__min,
.mn {
	width: 230px;
	height: 230px;
}

.hand__second,
.sc {
	width: 250px;
	height: 250px;
}

.hr,
.mn,
.sc {
	display: flex;
	justify-content: center;
	position: absolute;
}

.hr::before {
	content: "";
	position: absolute;
	width: 8px;
	height: 100px;
	background: var(--clock-color);
}

.mn::before {
	content: "";
	position: absolute;
	width: 4px;
	height: 110px;
	background: var(--color-pink);
}

.sc::before {
	content: "";
	position: absolute;
	width: 2px;
	height: 120px;
	background: var(--clock-color);
}

.clock__digits {
	width: 100%;
	height: 100%;
	position: relative;
}

.clock__number {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

[data-time="1"] {
	transform: rotate(30deg);
}

[data-time="1"] > span {
	transform: rotate(330deg);
}

[data-time="2"] {
	transform: rotate(60deg);
}

[data-time="2"] > span {
	transform: rotate(300deg);
}

[data-time="3"] {
	transform: rotate(90deg);
}

[data-time="3"] > span {
	transform: rotate(270deg);
}

[data-time="4"] {
	transform: rotate(120deg);
}

[data-time="4"] > span {
	transform: rotate(240deg);
}

[data-time="5"] {
	transform: rotate(150deg);
}

[data-time="5"] > span {
	transform: rotate(210deg);
}

[data-time="6"] {
	transform: rotate(180deg);
}

[data-time="6"] > span {
	transform: rotate(180deg);
}

[data-time="7"] {
	transform: rotate(210deg);
}

[data-time="7"] > span {
	transform: rotate(150deg);
}

[data-time="8"] {
	transform: rotate(240deg);
}

[data-time="8"] > span {
	transform: rotate(120deg);
}

[data-time="9"] {
	transform: rotate(270deg);
}

[data-time="9"] > span {
	transform: rotate(90deg);
}

[data-time="10"] {
	transform: rotate(300deg);
}

[data-time="10"] > span {
	transform: rotate(60deg);
}

[data-time="11"] {
	transform: rotate(330deg);
}

[data-time="11"] > span {
	transform: rotate(30deg);
}

/* Digital clock */
.digital-clock {
	display: none;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 2em;
	font-family: Consolas;
	margin: 50px auto;
}

.show {
	display: flex;
}

.clock__button {
	border: none;
	border-radius: 20px;
	background-image: linear-gradient(to bottom, #e52e71, #ff8a00);
	color: #fff;
	cursor: pointer;
	font-size: 1.25rem;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 0.875rem 1.5rem;
	text-transform: uppercase;
	transition: 0.3s linear;
}

.clock__button:hover {
	transform: scale(0.98);
	-webkit-transform: scale(0.98);
	-moz-transform: scale(0.98);
	-ms-transform: scale(0.98);
	-o-transform: scale(0.98);
}
